:root {
    --pune: #CD8495;
    --martini: #B8AAA7;
    --blossom: #D5B4BB;
    --soft-peach: #ECE3E6;
    --casper: #A5BBD3;
    --lilac: #CDB4DB;
    --pink: #FFC8DD;
    --cotton-candy: #FFD3DD;
  }